.each-cell{
    /*background-color: transparent;*/
    color: black;
    /*border: 1px solid black;*/
    /*transition-duration: 0.4s;*/
    height: 47px;
    width: 76px;
    text-align: center;
    font-weight: bold;

}
.each-cell:hover{
    /*background-color: black;*/
    color: white;
    /*border: 2px solid black;*/
}

.img1{
    height: 47px;
    width: 69px;
}
