.each-cell{
    background-color: transparent;
    color: black;
    /*border-width: 1px;*/
    border: 0.5px solid black;
    transition-duration: 0.2s;
    height: 46.75px;
    width: 74px;
    text-align: center;
    font-weight: bold;

}
.center-column{
    width:10px;
}
.each-cell:hover{
    background-color: rgba(0,0,0,0.4);
    color: white;
    border: 0.5px solid black;
}

.img1{
    height: 47px;
    width: 47px;
}
